
.header {
    min-width: 1080px;
}

.header h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 40px;
    background-color: #5383E8;
}

h1 {
    margin: 0;
}

.div-login {
    margin: 0 16px;
    display: flex;
    align-items: center;
}

.login-button {
    display: block;
    padding: 4px 16px;
    line-height: 18px;
    font-size: 12px;
    background-color: #5383E8;
    color: #FFF;
    border-radius: 4px;
    white-space: nowrap;
}

.top_nav {
    position : relative;
    height : 40px;
    padding-left : 98px;
    background-color : #28344E;
    display: flex;
    align-items:center;
}

.route {
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: #5383E8;
}

.route .route-nav{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1080px;
}

.route .route-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ol, ul, li {
    list-style: none;
}

.route .route-item:nth-of-type(1) {
    margin-left: 0;
}

.route .route-item {
    margin-left: 24px;
}

.route .route-item a {
    display: flex;
    align-items: center;
    height: 48px;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
}

.main-contents {
    display: block;
    width: 1080px;
    margin: 0 auto;
}

.main-image {
    margin: 56px 0 46px;
}

.main-image img {
    display: block;
    max-height: 224px;
    margin: 0 auto;
}

.main-contents .search-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.search-container-form{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #FFF;
    background: #FFF;
    background: var(--gray0);
    border-radius: 30px;
    height: 60px;
    text-align: left;
}

.search-container-form >div:first-of-type {
    padding-left: 32px;
    padding-right: 8px;
    margin-right: 8px;
}

form {
    display: block;
    margin-top: 0em;
}

.search-container-form button[name="region"] {
    display: block;
    height: 40px;
    width: 194px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.search-container-form >div:last-of-type >small, .search-container-form >div:last-of-type label {
    position: absolute;
    z-index: 100;
}

.search-container-form input {
    background: #FFF;
    background: var(--gray0);
    position: relative;
    width: 480px;
    padding: 20px 0 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    color: #202D37;
    color: var(--gray900);
}

.search-container-form >button {
    padding-right: 24px;
    padding-left: 12px;
    height: 100%;
}

.recent-articles {
    margin-top: 36px;
    background-color: var(--gray0);
}

.recent-articles h2 a {
    display: block;
    padding: 17px 0px 16px 20px;
    line-height: 17px;
    font-size: 14px;
    color: var(--gray900);
    text-decoration: none;
    font-weight: bold;
}

.recent-articles .community-list {
    height: 405px;
    padding-bottom: 13px;
    display: flex;
    flex-flow: column wrap;
}

.recent-article-item {
    box-sizing: border-box;
    width: 50%;
}

.recent-article-item:nth-of-type(1) a, .recent-article-item:nth-of-type(6) a {
    border-top: 0px none;
}

.recent-article-item-number {
    flex-basis: 55px;
    color: var(--gray900);
    text-align: center;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
}

.recent-article-item .thumbnail {
    height: 56px;
    width: 100px;
    text-align: center;
    overflow: hidden;
    flex-basis: 100px;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

.recent-article-item .text {
    flex: 1 1 0%;
    padding: 0px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.recent-article-item .title-container {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-article-item .title {
    color: var(--gray900);
}

.recent-article-item .comment-count {
    margin-left: 4px;
    color: var(--main500);
}

.recent-article-item .meta-list {
    margin-top: 6px;
    color: rgb(135, 146, 146);
    line-height: 15px;
    font-size: 12px;
}

.recent-article-item .meta-list li {
    display: inline-block;
    vertical-align: middle;
}

.recent-article-item .meta-list .tooltip {
    cursor: help;
}

div {
    display: block;
}